[Unit]
Description=Photobooth Backend

[Service]
ExecStart=/home/pi/photobooth/photobooth.js
Restart=always
User=pi
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/photobooth

[Install]
WantedBy=multi-user.target